<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>About</h1>
    <div>Bernard Sanders (born September 8, 1941) is an American politician who has served as the junior United States senator from Vermont since 2007 and as U.S. Representative for the state's at-large congressional district from 1991 to 2007. He is the longest-serving independent in U.S. congressional history, although he has a close relationship with the Democratic Party, having caucused with House and Senate Democrats for most of his congressional career.[1] Sanders unsuccessfully sought the Democratic Party nomination for president of the United States in 2016 and 2020, finishing in second place in both campaigns. Before his election to Congress, he was mayor of Burlington, Vermont.</div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Bernie_Sanders_1959_High_School_Yearbook.jpg/417px-Bernie_Sanders_1959_High_School_Yearbook.jpg">
</body>
</html>