<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>works</h1>
    <div><h2></h2>Some works here</h2>
        <ul>
            <li>Committee on the Budget (Ranking Member)</li>
            <li>Committee on Environment and Public Works</li>
            <li>Subcommittee on Clean Air and Nuclear Safety</li>
            <li>Subcommittee on Green Jobs and the New Economy</li>
            <li>Subcommittee on Transportation and Infrastructure</li>
            <li>Committee on Energy and Natural Resources</li>
            <li>Subcommittee on Energy</li>
            <li>Subcommittee on National Parks</li>
            <li>Subcommittee on Water and Power</li>
            <li>Committee on Health, Education, Labor, and Pensions</li>
            <li>Subcommittee on Children and Families</li>
            <li>Subcommittee on Primary Health and Aging, (Ranking Member)</li>
            <li>Committee on Veterans' Affairs (former Chair)</li>
        </ul>
        <div id="pics">
            <img src="https://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/202003/814550395.jpg">
            <img src="https://m.dw.com/image/52474132_401.jpg">
            <img src="https://static.dw.com/image/52347245_303.jpg">
            <img src="https://ca-times.brightspotcdn.com/dims4/default/f24ed61/2147483647/strip/true/crop/2546x1699+0+0/resize/840x561!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F83%2F88%2F70d50cbc4ce49416e9bd788f4421%2Fhttps-delivery.gettyimages.com%2Fdownloads%2F1297438755">
        </div>
    </div>
</body>
</html>